*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: white;
    position:absolute;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 3px;
    z-index: 2000;
    margin-top: 70px;
}
.card{
    background-color: #575561;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 3px;
}
.img{
    width: 60%;
    border-radius: 3px;
    border-right: solid 5px #575561;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.data{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 5px;
    align-items: center;
    background-color: #242038;
}
.allButtons{
    display: flex;
    flex-direction: column;
    
}
.buttons{
    margin: 5px;

}
.title{
    font-size: 13px;
    color: white;
    padding: 5px;
}
.fav{
    width: 25px;
    background-color: rgba(220, 20, 60, 0.603);
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
}

.cart{
    border-radius: 3px;
    width: 25px;
    background-color: rgba(47, 177, 101, 0.603);
    padding: 5px;
}
.price{
    border: none;
    background-color: #8D86C9 ;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.price:hover{
    background-color: rgba(255, 255, 255, 0.39);
}
.fav:hover{
    background-color: rgb(248, 66, 102);
}
.cart:hover{
    background-color: rgba(0, 255, 106, 0.623);
}
@media (min-width:768px){
    .container{
        width: 30%;
        margin-top: 115px;
        margin-left: 290px;
    }

    .data{
        
        justify-content: space-around;
    }
    .title{
        font-size: 22px;
       
       /*  width: 100%; */
    }
    .allButtons{
        display: flex;
        
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    .price{
        display: flex;
        font-size: 18px;
    }
    .fav,.cart{
        width: 40px;
        margin-left: 10px;
        padding: 7px;
    }
}
/*
fondo negro : #221F20
azulviolaceo : #725AC1
gris: #575561
celeste claro: #8D86C9
azul boton: #3C29E3
CARTAS::after
azul oscuro: #242038
gris claro: #CAC4CE
boton azul: #3C29E3
*/