.shop{
    height: 4.1vh;
    width: 2.5vw;
    background-color: #725AC1;
    object-fit: contain;
    border: 1px solid grey;
    border-radius: 2px;
    margin-top: 7px;
}
.shopCard{
    height: 3.5vh;
    width: 2vw;
    padding: 25px;

}
.chopCard1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}