.main{
    background-color: #221F20;
    height: 100vh;
    margin: none;
    display: flex;

}
.games{

    width: 65vw;
    height: 70vh;
}
.card{
    background-color: #242038;
    height: 20vh;
    border-radius: 0.7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(71, 70, 70);
    margin-bottom: 2vh;
    font-size: 15px;
}
.imageContainer{
    width: 35% ;
    height: 100%;
    object-fit: contain;
}
.image{
    height: 20vh;
    width: 21.5vw;
}
.delete{
    display: flex;
    justify-self: center;
    height: 100%;
    width: 13%;
    align-items: center;
}
.btn{

    height: 100% ;
}
.description{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3vh;
    color: white
}
.price{
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 2vh;
    width: 10vw;
}
.mp{
    width: 9vw;
    height: 30px;
    object-fit: contain;
    
  }
  .cash{
    color: white
  }