container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    border-bottom: solid 0.5px #725AC1;
    padding: 0.5em;
    width: 85%;
    text-align: center;
}

.container>p {
    width: 80%;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    text-align: center;
}

.firstContainer{
    border: solid 1px #725ac1;
    border-radius: 1em;
    width: 90%;
    margin-bottom: 2em;
    background-color: #16202D;
    padding: 1em;
}

.secondContainer{
    border: solid 1px #725ac1;
    border-radius: 1em;
    width: 90%;
    margin-bottom: 2em;
    background-color: #16202D;
    padding: 1em;
}
li {
    list-style: none;
    margin: 2em 0em;
    text-align: start;
}
strong{
    color: gray;
}

@media (min-width: 768px) {

    .container2 {
        flex-direction: row; 
        width: 100%;
        margin-top: 2em;
    }
    .firstContainer{
        width: 40%;
        height: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 2em;
        
    }
    .secondContainer{
        margin-left: 2em;
        width: 40%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 
}

