*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 96%;

}
.containerCategories{

    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}
.containericons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(141,134,201);
    background: radial-gradient(circle, rgba(141, 134, 201, 0.596) 59%, rgba(0,0,0,1) 100%);
    padding: 10px;
    border-radius: 10px;
}
.icon{
    width: 40px;
}
.containerTitle{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3px;
    background: rgb(141,134,201);
    background: radial-gradient(circle, rgba(141, 134, 201, 0.596) 59%, rgba(0,0,0,1) 100%);
    border-radius: 10px;
   
    
}



@media (min-width:768px){

    .icon{
        width: 30px;
       
    }
    .buttonCategory{
        font-size: 20px;
    }
  
}
/*
fondo negro : #221F20
azulviolaceo : #725AC1
gris: #575561
celeste claro: #8D86C9
azul boton: #3C29E3
CARTAS::after
azul oscuro: #242038
gris claro: #CAC4CE
boton azul: #3C29E3
*/