*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 95%;

}
.containerCategories{
    background: rgba(141, 134, 201, 0.13);
background: radial-gradient(circle, rgba(141, 134, 201, 0.712) 0%, rgba(36, 32, 56, 0.486) 100%);
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}
.containericons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.icon{
    width: 40px;
}
.containerTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
}



@media (min-width:768px){

    .icon{
        width: 50px;
    }
    .buttonCategory{
        font-size: 20px;
    }
  
}
/*
fondo negro : #221F20
azulviolaceo : #725AC1
gris: #575561
celeste claro: #8D86C9
azul boton: #3C29E3
CARTAS::after
azul oscuro: #242038
gris claro: #CAC4CE
boton azul: #3C29E3
*/