.buttonCategory0{
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
    background-image: url(../../../public/assets/shooterIcon.png);
    background-size: 1.8em;
    background-position-x: center;
    background-repeat: no-repeat;
}
.buttonCategory1{
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
    background-image: url(../../../public/assets/adventureIcon.png);
    background-size: 2.5em;
    background-position-x: center;
    background-repeat: no-repeat;
}
.buttonCategory2{
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
    background-image: url(../../../public/assets/sportsIcon.png);
    background-size: 1.5em;
    background-position-x: center;
    background-repeat: no-repeat;
}
.buttonCategory3{
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
    background-image: url(../../../public/assets/rpgIcon.png);
    background-size: 1.8em;
    background-position-x: center;
    background-repeat: no-repeat;
}
.buttonCategory4{
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
    background-image: url(../../../public/assets/estrategyIcon.png);
    background-size: 1.8em;
    background-position-x: center;
    background-repeat: no-repeat;
}
/* .buttonCategory0:hover,.buttonCategory1:hover,.buttonCategory2:hover,.buttonCategory3:hover,.buttonCategory4:hover{
    border-radius: 20px;
    padding:5px;
    text-shadow: 2px 1px 15px rgba(1,1,1,1);
} */

@media (min-width:768px){
    .buttonCategory0{
        display: flex;
        padding: 0.6em 2em;
        margin-top: 1em;
        background-size: 4em;
        height: 100%;
    }
    .buttonCategory1{
        display: flex;
        padding: 0.6em 2em;
        margin-top: 1em;
        background-size: 4em;
        height: 100%;
    }
    .buttonCategory2{
        display: flex;
        padding: 0.6em 2em;
        margin-top: 1em;
        background-size: 3.2em;
        height: 100%;
    }
    .buttonCategory3{
        display: flex;
        padding: 0.6em 2em;
        margin-top: 1em;
        background-size: 4em;
        height: 100%;
    }
    .buttonCategory4{
        display: flex;
        padding: 0.6em 2em;
        margin-top: 1em;
        background-size: 4em;
        height: 100%;
    }

}