.buttonCategory0{
   color: white;
    font-size: 11px;
    margin: 5px 10px;
    

}
.buttonCategory1{
  color: white;
    font-size: 11px;
    margin: 5px 10px;
    

}
.buttonCategory2{
    color: white;
    font-size: 11px;
    margin: 5px 10px;
    
    
}
.buttonCategory3{
  color: white;
    font-size: 11px;
    margin: 5px 10px;
    

}
.buttonCategory4{
  color: white;
    font-size: 11px;
    margin: 5px 10px;
    

}

@media (min-width:768px){
    .buttonCategory0{
        font-size: 20px;
        
       
    }
    .buttonCategory1{
        font-size: 20px;
        
       
    }
    .buttonCategory2{
        font-size: 20px;
        
       
    }
    .buttonCategory3{
        font-size: 20px;
        
       
    }
    .buttonCategory4{
        font-size: 20px;
        
        
    }

}