*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.homeContainer{
    background-color:#221F20; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.divCarrusel{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 350px;
}
.carruselImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    border-radius: 1%;
    object-fit: fill;
}
.carruselImg:hover{
    opacity: 0.8;
}

@media (min-width:768px){
    .carruselImg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
    }
    .divCarrusel{
        height: 480px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*
fondo negro : #221F20
azulviolaceo : #725AC1
gris: #575561
celeste claro: #8D86C9
azul boton: #3C29E3
CARTAS::after
azul oscuro: #242038
gris claro: #CAC4CE
boton azul: #3C29E3
*/