*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.divGames{
    display: flex;
    background-color: #242038 ;
    margin:5px 1%;
    margin-top: 30px;
    height: 50px;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.titleGames{
    color: white;
    font-size: 25px;
    margin-left: 5px;
    font-family: monospace;
    text-align: center;
    letter-spacing: 1px;
    z-index: 1;
}


.homeContainer{
    background-color: #221F20;
    margin-top: 20px;
}
.divCarrusel{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
}
.carruselImg{
    width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}
.carruselImg:hover{
    opacity: 0.8;
}
.CardMoreExpensibeContainer{
    width: 100%;
}

@media (min-width:768px){
    .carruselImg{
        width: 420px;
        display: flex;
        padding: 5px;
        margin: 5px;
        background-color: #221f20a9;
        height: 250px;
        border-radius: 0.2em;
        opacity: 0.6;
        transition: transform .2s;
    }
    .carruselImg:hover{
        opacity: 1;
        transform: scale(1.1);
    }
    .carrusel{
        background-color: #221f20a9;
        border-radius: 40px;
    }
    }


/*
fondo negro : #221F20
azulviolaceo : #725AC1
gris: #575561
celeste claro: #8D86C9
azul boton: #3C29E3
CARTAS::after
azul oscuro: #242038
gris claro: #CAC4CE
boton azul: #3C29E3
*/
