*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.conteiner{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.conteinerCard{
display: flex;
flex-direction: column;
width: 300px;
padding: 2px;
background-color: #575561;
border-radius: 5px;
margin-bottom: 25px;
}
.gamePhoto{
    border-radius: 5px;
    margin-bottom: 2px;
}

.gamePhoto:hover{
    opacity: 0.7;
}

.titleAndFav{
    background-color:#242038;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    color: white;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3px;
}
.favIcon{
    height: 30px;
    padding: 3px;
}
.favIcon:hover{
    padding: 1px;
}
.footerCard{
    background-color: #CAC4CE;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}
.icon{
    width: 20px;
    margin-left: 10px;
}
.icon:hover{
    padding: 1px;
}
.buttonPrice{
    background-color: #3C29E3;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
}
.buttonPrice:hover{
    opacity: 0.8;
}

@media (min-width:768px){
    .conteinerCard{
        width: 450px;
        padding: 2px; 
        }
        .titleAndFav{  
            height: 70px;
            font-size: 25px;
        }
        .favIcon{
            height: 35px;
        }
        .footerCard{
            padding: 10px;
            border-radius: 5px;
            height: 70px;
            align-items: center;
        }
        .icon{
            width: 30px;
        }
        .buttonPrice{
            padding: 10px;
            font-size: 20px;
        }
}
/*
fondo negro : #221F20
azulviolaceo : #725AC1
gris: #575561
celeste claro: #8D86C9
azul boton: #3C29E3
CARTAS::after
azul oscuro: #242038
gris claro: #CAC4CE
boton azul: #3C29E3
*/