.maincontainer{
    background-color: #221F20;
    height: 130vh;
    width: 100%;
}
.nebulacontainer{
    height: 37vh;
    width: 99%;
    display: flex;
    justify-content: center;
    
}
.nebulalogo{
    margin-top: 20vh;
    height: 37%;
    width: 35%;
}
.psignupcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 8vh;
}
.psignup{
    font-size: 1.5rem;
}
.formcontainer{
    height: 60vh;
    border: none;
    
}
.fieldsetcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    border: none;
    
}
.emailinput{
    width: 40%;
    height: 20%;
    margin: 2vh;
    padding: 10px;
    border: 1px solid #eee;
    background-color: #221F20;
    border-radius: 5px;
    font-size: medium;
    color: #eee;
}
.send{
    width: 40.3%;
    height: 25%;
    margin: 3vh;
    background-color:#725AC1;
    border-radius: 5px;
    border:none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: aliceblue;
    
}

.send:hover{
    background-color:#8778b6;
    cursor:pointer
}