.maincontainer{
    background-color: #221F20;
    height: 130vh;
    width: 100%;
}
.nebulacontainer{
    height: 37vh;
    width: 99%;
    display: flex;
    justify-content: center;
    
}
.nebulalogo{
    margin-top: 20vh;
    height: 37%;
    width: 35%;
}
.formcontainer{
    height: 60vh;
    border: none;
    
}
.fieldsetcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 37vh;
    border: none;
    position: relative;
    
}


.emailinput{
    width: 40%;
    height: 18%;
    margin: 3vh;
    padding: 10px;
    border: 2px solid #725AC1;
    background-color: #221F20;
    border-radius: 5px;
    font-size: medium;
    color: #eee;
}
.passwordinput{
    width: 40%;
    height: 18%;
    padding: 10px;
    border: 2px solid #725AC1;
    background-color: #221F20;
    border-radius: 5px;
    font-size: medium;
    color: #eee;
}
input::placeholder{
    color: rgb(196, 196, 196);
    font-family: monospace;
}

.send{
    width: 40%;
    height: 18%;
    margin: 3vh;
    background-color:#725AC1;
    border-radius: 5px;
    border:none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: monospace;
}

input:hover{
    background-color: #8778b6;
    transition: 0.2s;
}


.send:hover{
    background-color:#8778b6;
    cursor:pointer;
    transition: 0.2s;
}
.containeranchortosignup{
    display: flex;
    justify-content: center;
}
.anchortosignup{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: #725AC1;
    margin-top: 20px;
}
.anchortosignup:hover{
    text-decoration: underline;
    color: #8778b6;
    cursor:pointer;
    
}
.shape2{
    background-color: #CAC4CE;
    height: 3%;
    width: 19%;
    
    border-radius: 5px;
}
.shape{
    background-color:#CAC4CE;
    height: 3%;
    width: 19%;
    
    border-radius: 5px;
}
.containershape{
    
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
.por{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.3rem;
    color: #CAC4CE;
    font-weight: 600;
}