.containerGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    
} 

.containerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.containerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    opacity: 0.8;
}
.containerImage:hover{
    opacity: 0.8;
}
.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.imagen:hover{
    opacity: 1;
}

.info {
    width: 95%;
    text-align: left;
    height: 50vh;
}

.containerP{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    margin: 1em;
}
.category{
    width: 100%;
}
.developer{
    width: 100%;
}

.button{
    cursor: pointer;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description{
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #725ac1;
}
.titulo {
    text-align: center;
    padding: 1em;
}

.downInfo{
    display: flex;
    justify-content: space-evenly;
    background-color:  #CAC4CE;
    padding: 0.1em;
}
.window {
    width: 2rem;
    padding: 0.4em;
    color: white;
} 
.shop {
    width: 2rem;
    padding: 0.3em;
    background-color: #8D86C9;
    margin : 0.1em;
    border-radius: 5px;
    
} 
.shop:hover{
    background-color: #8d86c9b0;; 
    border-radius: 10%;
    cursor: pointer;
}

.moreInfo {
    height: 5vh;
    margin: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
    text-align: center;
    box-shadow: 0px 0px 4px white;
}
button:hover{
    box-shadow: 0px 0px px white;
}

.firstContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.secondContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3em;
}

.containerImage2{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.mainImage {
    height: 100%;
    width:100%;
    object-fit: cover;
    opacity: 0.8;
}
.mainImage:hover{
    opacity: 1;
}

.containerReq{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1200px) {
    .containerP{
        flex-direction: row;
        width: 80%;
    }
    .containerGeneral{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .containerImage{
        width: 100%;
    }
    .imagen{
        width: 95%;
        height: 90%;
    }
    .info {
        width: 95%;
    }

    .mainImage{
        width: 95%;
        height: 250px;
    }
    .containerCard{
        background-color: #242038;
        border: solid 1px #725ac1;
        border-radius: 1rem;
        padding: 1em 2em;
        transition: all 0.2s;
        flex-direction: row-reverse;
        width: 80%;

        height: 90vh;

        margin-top: 2em;
    }

    .firstContainer{
        width: 40%;
        height: 90%;
    }
    .secondContainer{
        width: 60%;
        height: 60%;
    } 
    .moreInfo{
        display: none;
    } 
    
    .imgCarousel{
        width: 90%;
        height: 5em;
    }
    .containerImg{
        height: 5em;
    }
    .containerReq{
        height: 90vh;
    }
}


/* CARROUSEL */


.containerCarousel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100vw;
}


.containerImg {
    display: flex;
    height: 80%;
    margin-bottom: 0.5em;
}

.imgCarousel{
    width: 98vw;
    height: 30vh;
    object-fit: cover;
}


@media (min-width: 768px) {
    .containerImage{
        margin-right: 0.5rem;
        height: 50%;
        width: 100%;
    }
    .containerReq{
    height: 60vh;
    }

    .moreInfo{
        display: none;
    } 
    .secondContainer{
        height: 30vh;
    }

    .imgCarousel{
    width: 95%;
    height: 8em;
    object-fit: cover;
    opacity: 0.8;
    }
    .imgCarousel:hover{
    opacity: 1;

}
.containerImage2{
    height: 200px;
    margin-top: 78px;
}
.youtube{
    height: 300px;
}.

}
