.containerCard {
    border: solid 1.5px #725ac1;
    background-color: #242424;
    color: white;
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 0.5em;
    margin: 0.5rem;
    box-shadow: 1px 7px 25px rgba(5,5,5,5);
    
} 
.containerOther {
    background-size: cover;
    background-color: #242424;
    border: solid 1.5px #725ac1;
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow: 1px 7px 25px rgba(5,5,5,5);
} 

/* .donate {
    font-size: 1.2rem;
} */

.text {
    color: black;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 5vh;
}
.description {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    border-bottom: solid 0.5px #725AC1;
}
.description:hover{
    color: #725AC1;
}

.containerButton {
    margin-top: 2em;
    height: 10%;
}

.x {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2em 4em;
    color: white;
    box-shadow: 1px 7px 25px rgba(5,5,5,5);
}

.x:hover {
    background-color:  #725AC1 ;
    color: white;
}

.modalContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
    width: 90vw;
    height: 80vh;
    margin: auto;
    background-color: #242424;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; 
    background-color:rgba(0, 0, 0, 0.5) ;
    transition: all ease 500ms;
}

.containerPrice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price {
    background-color: #fff;
    color: black;
    margin: 0.5rem;
    width: 50%;
    padding: 0.4em 0.5em;
    border: none;
    border-radius: 0.5rem;
}

.input {
    width: 30%;
    padding: 0.4em 1.5em;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
}


.donate2 {
    width: 30%;
    padding: 0.4em 1.5em;
    outline: none;
    border-radius: 0.5rem;
    border: none;
}

.donate2:hover {
    background-color: #4338ca;
    color: #fff;
}

.price:hover {
    background-color: #4338ca;
    color: #fff;
}

.containerImagen{
    width: 100%;
    height: 15%;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 90%;
    height: 80%;
    border-radius: 1rem;
}

.pago {
    display: flex;
}
a{
    text-decoration: underline;
    color: white;
}
.email , .number , .sectionIcon {
    width: 100%;
    padding: 0.5em;
}

a:hover{
    color: gray ;
}


@media (min-width: 1024px) {
    .containerImagen{
        display: flex;
        height: 20%;
    }
    .modalContenedor {
        width: 50vw;
        height: 80vh;
    }
    .cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 60%;
    }
    .containerCard{
        height: 80%;
        width: 90%;
    }
    .donate{
        padding: 2em;
        text-align: center;
    }
}



/*
fondo negro : #221F20
azulviolaceo : #725AC1
gris: #575561
celeste claro: #8D86C9
azul boton: #3C29E3
CARTAS::after
azul oscuro: #242038
gris claro: #CAC4CE
boton azul: #3C29E3
*/