.contenedor{
    background-color: #221F20;
}


.filterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: baseline;
}
.divSearch{
    background-color: white;
    display: flex;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    
}
.search{
    border: none;
    width: 100%;
    margin-left: 20px;
    font-size: 20px;
    
    
}
.lupa{
    width: 30px;
}
.containerh2{
    display: flex;
    width: 100%;
    justify-content: center;
}


@media (min-width:768px){
    .divSearch{

        width: 95%;
        display: flex;
        text-align: center;
        margin-left: 5vh;
    }
    .filterContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
       justify-content: baseline;
       margin-left: 5vh;

        width: 97.5%;
        margin-left: 15px
    }
    .containerh2{
        display: flex;
        width: 100%;
        justify-content: center;
        color: aliceblue;
        padding-top: 2rem;
    }
}