body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* font-family: monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Coolvetica Rg'
}

#root{
  background-color: #221F20;
}


/* 
fuente de antes = 
'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

*/